<app-plant-detail [plant$]="plant$" [updateMode]="updateMode" *ngIf="!data.plantation" 
    closeButton="true" (closed)="dialogRef.close()"></app-plant-detail>
<app-plant-detail [plant$]="plant$" [updateMode]="updateMode" *ngIf="data.plantation" 
    closeButton="true" (closed)="dialogRef.close()"
    contentTitle="Détail de la plantation">
    <div fxLayout>
        <div>{{ data.plantation.name }}</div>
    </div>
    <div fxLayout fxLayout.lt-md="column">
        <div *ngIf="data.plantation.codeVariety > 0" fxFlex="50%">
            Variété : {{ varietiesService.getSingleDataByKeyFromCache(data.plantation.codePlant, data.plantation.codeVariety).GetShortName() }}
        </div>
        <div *ngIf="data.plantation.codeRootstock > 0" fxFlex="50%" class="right-gt-sm">
            Porte-greffe : {{ rootstocksService.getSingleDataByKeyFromCache(data.plantation.codePlant, data.plantation.codeRootstock).GetShortName() }}
        </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column">
        <div *ngIf="data.plantation.plantingYear" fxFlex="50%">
          Date de plantation : {{ data.plantation.plantingYear | date:'shortDate' }}
        </div>
        <div *ngIf="data.plantation.codeNursery" fxFlex="50%" class="right-gt-sm">
            Pépinière : {{ (nursery$ | async)?.GetTextValue() }}
        </div>
    </div>
    <div fxLayout *ngIf="data.plantation.locationDescription" >
        <div>
            Situation : {{ data.plantation.locationDescription }}
        </div>
    </div>

    <div fxLayout *ngIf="data.plantation.comment" >
        <div>
            {{ data.plantation.comment }}
        </div>
    </div>

    <mat-divider *ngIf="data.plantation.history?.length > 0"></mat-divider>

    <span *ngFor="let history of data.plantation.history | orderby : 'dtHistory' : 'desc'">
        <div fxLayout style="height: 0.5em"></div>
        <div fxLayout>
            {{ history.dtHistory | date:'shortDate' }} : {{ history.comment }}
        </div>
        <div fxLayout>
            <div *ngIf="history.health">
                Etat de santé : {{ (plantationHistoryService.getHealth(history.health) | async)?.GetTextValue() }}
            </div>
        </div>
        <div fxLayout>
            <div *ngIf="history.height" fxFlex="50%">
                Hauteur : {{ sizeUnits === 'm' ? history.height / 100 : history.height }} {{ sizeUnits }}
            </div>
            <div *ngIf="history.span" fxFlex="50%" class="right">
                Envergure : {{ sizeUnits === 'm' ? history.span / 100 : history.span }} {{ sizeUnits }}
            </div>
        </div>
        <div fxLayout *ngIf="history.trunkCircumference">
            <div>Circonférence du tronc : {{ history.trunkCircumference }} mm</div>      
        </div>
        <div fxLayout style="justify-content: center">
            <span *ngFor="let photo of history.photos">
                <img [src]="projectsApiBaseUrl + photo.url" class="photo"/>
            </span>
        </div>
    </span>
</app-plant-detail>
<button class="close" mat-button mat-dialog-close>&times;</button>