<span *ngIf="!updateMode && plant">
    <p><a *ngIf="plant.pfafUrl" target="_blank" [href]="plant.pfafUrl">{{ plant.pfafUrl }}</a></p>
    <p><a *ngIf="plant.externalLink" target="_blank" [href]="plant.externalLink">{{ plant.externalLink }}</a></p>
</span>

<span *ngIf="updateMode && plant">
    <mat-form-field>
        <mat-label>Pfaf url</mat-label>
        <input type="url" matInput [(ngModel)]="plant.pfafUrl"
            placeholder="Ex. http://www.pfaf.org/user/Plant.aspx?LatinName=latin+names">
    </mat-form-field>
    <div class="error" *ngIf="!isValidUrl(plant.pfafUrl)">Please enter a valid url address</div>
    <div class="error" *ngIf="!isPfafUrl(plant.pfafUrl)">Please enter url like http://www.pfaf.org/user/Plant.aspx?LatinName=latin+names</div>

    <mat-form-field>
        <mat-label>External link</mat-label>
        <input type="url" matInput [(ngModel)]="plant.externalLink"
            placeholder="Ex. https://www.permaguildes.fr">
    </mat-form-field>
    <div class="error" *ngIf="!isValidUrl(plant.externalLink)">Please enter a valid url address</div>
</span>
