<span *ngIf="plant && (plant.medicinalRating || updateMode)" 
    [ngClass]="(updateMode)?'updateMode':''"
    [matTooltip]="(!updateMode)?getTooltipText(plant.medicinalRating):undefined">
    <mat-icon [ngClass]="(plant.medicinalRating >= 1)?'score on':'score'"
        [matTooltip]="(updateMode)?getTooltipText(1):undefined"
        (click)="onIconClick(1)">eco</mat-icon>
    <mat-icon [ngClass]="(plant.medicinalRating >= 2)?'score on':'score'"
        [matTooltip]="(updateMode)?getTooltipText(2):undefined"
        (click)="onIconClick(2)">eco</mat-icon>
    <mat-icon [ngClass]="(plant.medicinalRating >= 3)?'score on':'score'"
        [matTooltip]="(updateMode)?getTooltipText(3):undefined"
        (click)="onIconClick(3)">eco</mat-icon>
    <mat-icon [ngClass]="(plant.medicinalRating >= 4)?'score on':'score'"
        [matTooltip]="(updateMode)?getTooltipText(4):undefined"
        (click)="onIconClick(4)">eco</mat-icon>
    <mat-icon [ngClass]="(plant.medicinalRating >= 5)?'score on':'score'"
        [matTooltip]="(updateMode)?getTooltipText(5):undefined"
        (click)="onIconClick(5)">eco</mat-icon>
</span> 