<span *ngIf="plant && !updateMode && plant.minHeight">{{plant.minHeight}}-{{plant.maxHeight}} {{plant.sizeUnits}}</span>
<span *ngIf="plant && updateMode" class="custom-slider custom-slider-hidden-values">
    <mat-checkbox [(ngModel)]="isVisible" (change)="onChangeVisibility()"></mat-checkbox>
    <span *ngIf="isVisible">
        <ngx-slider [(value)]="plant.minHeight" [(highValue)]="plant.maxHeight" [options]="options"></ngx-slider>
    </span>
</span>
