<span *ngIf="!updateMode">{{value}}</span>
<span *ngIf="updateMode">
  <mat-form-field>
    <mat-label>{{title}}</mat-label>
    <mat-select [value]="codes" [multiple]="isMultiple" (selectionChange)="updateSelection($event)">
      <mat-option *ngFor="let item of this.items | keyvalue: orderby" [value]="item.key">
        {{getLabel(item)}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</span>
