<form style="width:100%">
  <mat-form-field (click)='removeStorageValue()'>
    <input #searchValue matInput value="" [matAutocomplete]="auto" [formControl]="stateCtrl" (keydown.enter)="onValidateResult($event)">
    <mat-placeholder class="placeholder">Sélectionner une propriété ou saisir le nom d'une plante</mat-placeholder>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)='onSelectResult($event)'>
      <mat-option *ngFor="let result of _filteredResultsObservable$ | async" [value]="result.name">
        <span>{{result.name}}</span>
        <span *ngIf="result.detail"> | <small>{{result.detail}}</small></span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-chip-list>
    <mat-chip *ngFor="let property of _propertiesAttributes" (removed)="onRemoveAttribute(property)">
      {{property}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</form>