mat-form-field {
    width: 99%;
}
mat-form-field .mat-form-field-infix {
    width: 99%;
}

.placeholder {
    font-size: 14px;
    font-style: italic;
}

mat-chip-list ::ng-deep.mat-chip-list-wrapper {
    margin-top: -1.1em;
    padding-bottom: 4px;
}