<div class="background">
  <div class="title">
    <h1>PermaGuildes</h1>
    <h2>Aide à la création d'une forêt comestible</h2>
    <span style="color: grey">{{ appVersion }}</span>
    <app-authentification></app-authentification>
  </div>
  <div class="launchers">
      <nav>
        <button routerLink="/nav/plants-finder" routerLinkActive="active" (appClickOutside)="onClickOutside()">Base de données de plantation</button>
        <button #projectListButton (click)="onProjectListClick()" (appClickOutside)="onClickOutside()">Liste des projets</button>
      </nav>
  </div>
</div>

<ng-template #projectList>
  <div class="projectList">
    <i>PermaGuildes souhaite mettre à disposition un outil d'aide à la création d'une forêt comestible avec les objectifs suivants :
    <li>inciter à la création de nombreuses forêts comestibles, </li>
    <li>mettre en avant des guildes et associations qui fonctionnent bien, </li>
    <li>référencer des projets de forêts comestibles.</li>
    </i>
    <br/>
    <u>Liste des projets de plantations référencés</u>
    <span *ngIf="projects; else loadingProject">
      <mat-list>
        <mat-list-item *ngFor="let project of projects">
          <a [routerLink]="['/nav/project', project.code]">{{ project.name }}</a>
        </mat-list-item>
      </mat-list>
    </span>
    <ng-template #loadingProject>
      <div><mat-spinner [diameter]="20"></mat-spinner></div>
    </ng-template>
    <br/>
    <div style="text-align: right;">
      <button mat-button style="text-align: right" color="primary" (click)="onNewProjectClick()">Créer un nouveau projet...</button>
    </div>
  </div>
</ng-template>
