<span *ngIf="plant && (updateMode || plant.pestRepellents)">
    <div>
        <span *ngIf="!updateMode && plant.pestRepellents">Répulsif à insects</span>
        <mat-checkbox *ngIf="updateMode" [(ngModel)]="plant.pestRepellents">Répulsif à insects</mat-checkbox>
    </div>
    <div *ngIf="plant.pestRepellents">
        <span *ngIf="updateMode || (plant.codesRepellentsInsects && plant.codesRepellentsInsects.length > 0)">
            Anti-insectes : <app-labeled-property [labelType]="labelTypes.Repellents" [plant]="plant" [updateMode]="updateMode"></app-labeled-property>
          </span>
    </div>
</span>
