<div *ngIf="plant">
  <mat-icon *ngIf="plant.exposureSun" style="color:orange" [matTooltip]="PlantProperties.ExposureSun.toString()">wb_sunny</mat-icon>
  <mat-icon *ngIf="plant.exposureMiddle" [matTooltip]="PlantProperties.ExposureMiddle.toString()">cloud_queue</mat-icon>
  <mat-icon *ngIf="plant.exposureShadow" [matTooltip]="PlantProperties.ExposureShadow.toString()">wb_cloudy</mat-icon>

  <mat-icon *ngIf="plant.water === 1" style="color:blue" [matTooltip]="PlantProperties.LowWater.toString()">invert_colors</mat-icon>
  <mat-icon *ngIf="plant.water === 3" style="color:blue" [matTooltip]="PlantProperties.DryWater.toString()">opacity</mat-icon>

  <mat-icon *ngIf="plant.nitrate" [matTooltip]="PlantProperties.Nitrate.toString()">star_border</mat-icon>
  <mat-icon *ngIf="plant.othersMinerals" [matTooltip]="PlantProperties.OthersMinerals.toString()">star</mat-icon>
  <mat-icon *ngIf="plant.windbreaker" [matTooltip]="PlantProperties.Windbreaker.toString()">toys</mat-icon>

  <mat-icon *ngIf="plant.auxiliariesAttractive" style="color:green" [matTooltip]="PlantProperties.Auxiliaries.toString()">bug_report</mat-icon>
  <mat-icon *ngIf="plant.pestRepellents" style="color:red" [matTooltip]="PlantProperties.Repellents.toString()">bug_report</mat-icon>

  <mat-icon *ngIf="plant.codesVegetationTypes && plant.codesVegetationTypes.includes(4);" style="color:saddlebrown" 
      [matTooltip]="PlantProperties.Herbaceous.toString()">eco</mat-icon>
  <mat-icon *ngIf="plant.codesVegetationTypes && plant.codesVegetationTypes.includes(5);" style="color:green"
      [matTooltip]="PlantProperties.GroundCover.toString()">eco</mat-icon>

  <mat-icon *ngIf="plant.edibilityRating >= 3" style="color:green" 
      [matTooltip]="PlantProperties.GoodEdibility.toString()">restaurant</mat-icon>
  <mat-icon *ngIf="plant.medicinalRating >= 3" style="color:green" 
      [matTooltip]="PlantProperties.GoodMedicinal.toString()">insert_emoticon</mat-icon>
</div>