<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content>{{ message }}</mat-dialog-content>

<mat-dialog-actions *ngIf="allowAccept">
  <button mat-button color="primary" (click)="onConfirm()">Oui</button>
  <button mat-button (click)="onDismiss()">Non</button>
</mat-dialog-actions>

<mat-dialog-actions *ngIf="!allowAccept">
  <button class="btn-outline-rc" mat-button (click)="onDismiss()">Fermer</button>
</mat-dialog-actions>
<button class="close" mat-button mat-dialog-close>&times;</button>