.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}


.mat-list-base.as-mat-expansion-panel .mat-list-item .mat-list-item-content {
  align-items: center;
  padding: 0 24px;
  font-size: 15px;
  height: 24px;
}

.mat-select-panel {
  max-height: 80vh !important;
}



table.list {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}
th.mat-header-cell {
  padding: 0 1em 0 1em !important;
  text-align: left;
  max-width: 300px;
}

th.mat-header-cell.left, td.mat-cell.left {
  text-align: left;
}
th.mat-header-cell.center, td.mat-cell.center,
th.mat-header-cell.date, td.mat-cell.date,
th.mat-header-cell.size, td.mat-cell.size {
  text-align: center;
}
th.mat-header-cell.right, td.mat-cell.right {
  text-align: right;
}

td.mat-cell {
  padding: 0 1em 0 1em !important;
}
