@import "Apps/Permaguildes/src/app/styles/variables.scss";
@import "Apps/Permaguildes/src/app/styles/lists.scss";
@import "Apps/Permaguildes/src/app/styles/extensions.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1 {
    margin: 0;
    font-family: cursive !important;
    font-size: 3em;

}

h2 {
    margin: 0;
    font-weight: normal;
    font-size: 1em;
}

app-search .mat-form-field-infix {
    max-width: 90%;
}

.mat-dialog-actions {
  justify-content: flex-end;
}


.right {
  text-align: right;
}
@media only screen and (min-width: 960px) {
  .right-gt-sm {
    text-align: right;
  }
}



.text-center {
  text-align: center;
}

.spacer {
  flex: 1 1 auto;
}



// Change default offset of input labels
.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    -webkit-transform: translateY(-0.8em) scale(.75) perspective(100px) translateZ(.001px);
    transform: translateY(-0.8em) scale(.75) perspective(100px) translateZ(.001px);
    -ms-transform: translateY(-0.8em) scale(.75);
}

.mat-icon.score {
    color:gray;
}

.mat-icon.score.on {
    color:blue;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent;
}

// Checkbox
.mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: blue;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: blue;
}
.mat-checkbox-ripple .mat-ripple-element,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: blue;
}

// Sliders
.custom-slider .ngx-slider {
    margin-top: 40px;
    margin-bottom: 20px;
}
.custom-slider .ngx-slider.with-legend {
    margin-bottom: 45px;
}
.custom-slider .ngx-slider .ngx-slider-pointer {
    background-color: $slider-pointer-color;
}    
.custom-slider .ngx-slider .ngx-slider-selection,
.custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
    background-color: $slider-selection-color;
}
.custom-slider-hidden-values .ngx-slider {
    margin-top: 15px;
}
.custom-slider-hidden-values .ngx-slider .ngx-slider-span.ngx-slider-bubble.ngx-slider-model-value,
.custom-slider-hidden-values .ngx-slider .ngx-slider-span.ngx-slider-bubble.ngx-slider-model-high,
.custom-slider-hidden-values .ngx-slider .ngx-slider-span.ngx-slider-bubble.ngx-slider-combined,
.custom-slider-hidden-values .ngx-slider .ngx-slider-span.ngx-slider-bubble.ngx-slider-limit {
    visibility: hidden!important;
}



.toast-style {
    color:red;
}


.material-icons[aria-label="Action"] {
    font-size: 16px;
    cursor: pointer;
}

.mat-tree-node .mat-icon, .mat-nested-tree-node .mat-icon {
    color: $mat-tree-node-button-color;
}
table.mat-table .mat-icon {
    color: $mat-table-button-color;
}

.medium-dialog {
    width: 50%;
    min-width: 350px;
}

.large-dialog {
    max-width: 100vw !important;
    min-width: 350px;
}


.mat-progress-spinner {    
    width: 100% !important;
    height: 100% !important;
}
.mat-progress-spinner svg {
    position: relative !important;
}
.mat-progress-spinner.center svg {
    left: calc(50% - 100px) !important;
    top: calc(50% - 100px) !important;
}

.toast-large {
    width: 80vw !important;
}
.toast-info-black {
    background-color: black;
}

@media only screen and (max-width: 600px) {
    .cdk-overlay-pane {
        max-width: 100vw !important;
    }

    .toast-large {
        width: 100vw !important;
    }
}

.mat-dialog-container {
    height: inherit !important;
}

.mat-dialog-container .mat-card {
    padding: 0px !important;
    box-shadow: none !important;
}



.cdk-overlay-pane.dialog {
    position: relative!important;
  }
.close.mat-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    line-height: 14px;
    min-width: auto;
}