$default-padding-top: 0.7em;

$property-icon-size: 16px;
$property-icon-vertical-align: text-top;

$tight-list-font-size: 14px;
$tight-list-item-height: 1.2em;

$small-link-font-size: 0.85em;

$header-title-font-weight: 500;

$slider-pointer-color: blue;
$slider-selection-color: #76b3d4;

$icon-property-selection-color: red;

$mat-tree-node-button-color: #888888;

$mat-table-button-color: #888888;