<span *ngIf="plant && (plant.water || updateMode)" 
    [ngClass]="(updateMode)?'updateMode':''"
    [matTooltip]="(!updateMode)?getTooltipText(plant.water):undefined">
    <mat-icon [ngClass]="(plant.water >= 1)?'score on':'score'" 
        [matTooltip]="(updateMode)?getTooltipText(1):undefined"
        (click)="onIconClick(1)">opacity</mat-icon>
    <mat-icon [ngClass]="(plant.water >= 2)?'score on':'score'" 
        [matTooltip]="(updateMode)?getTooltipText(2):undefined"
        (click)="onIconClick(2)">opacity</mat-icon>
    <mat-icon [ngClass]="(plant.water >= 3)?'score on':'score'" 
        [matTooltip]="(updateMode)?getTooltipText(3):undefined"
        (click)="onIconClick(3)">opacity</mat-icon>
</span>

