<div style="height: 100%; overflow: auto;" *ngIf="project !== undefined">
  <div fxLayout *ngIf="(isJwtLoggedIn$ | async) === true" >
    <mat-checkbox [(ngModel)]="project.freezePlantations" (change)="saveSettings(4, $event)">Figer les plantations</mat-checkbox>
  </div>

  <div fxLayout>
    <mat-checkbox [(ngModel)]="project.autoDrawPlantations" (change)="saveSettings(0, $event)">Gestion automatique de l'affichage</mat-checkbox>
  </div>
  <div fxLayout>
    <mat-checkbox [(ngModel)]="project.drawPlantations" *ngIf="!project.autoDrawPlantations" (change)="saveSettings(1, $event)">Dessiner les plantations</mat-checkbox>
  </div>
  <div fxLayout>
    <mat-checkbox [(ngModel)]="project.showPlantationNames" *ngIf="!project.autoDrawPlantations" (change)="saveSettings(2, $event)">Afficher les noms des plantations</mat-checkbox>
  </div>
  <div fxLayout>
    <mat-checkbox [(ngModel)]="project.showPlantationVarieties" *ngIf="!project.autoDrawPlantations" (change)="saveSettings(3, $event)">Afficher les variétés des plantations</mat-checkbox>
  </div>

  <button mat-button *ngIf="(isJwtLoggedIn$ | async) === true" (click)="savePosition()">Sauvegarder la position actuelle</button>
</div>