:host {
    flex-flow: column;
    display: flex;
    height: 100%;
}

app-search {
    width: inherit;
}

app-plants-extended-list {
    z-index: 1;
}

mat-toolbar {
    min-height: inherit;
}

mat-toolbar-row {
    height:auto;
}

app-plants-extended-list {
    width:100%;
    overflow: hidden;
}

button.add {
    color:white;
    background-color:red;
    position: absolute;
    right:2em;
    bottom:1em;
    z-index: 100000;
    font-size: 2em;
}
