<mat-toolbar>
  <mat-toolbar-row>
      <app-search (filterChangeResult)='filterChangeResult($event)'></app-search>
  </mat-toolbar-row>
</mat-toolbar>
<app-plants-extended-list #list [maxWidth]="maxWidth" [withDialogs]="withDialogs" [dragEnable]="dragEnable"></app-plants-extended-list>
<button *ngIf="!withDialogs" class="add" [routerLink]="['/nav/plant', 0]" routerLinkActive="active" mat-mini-fab aria-label="Ajouter une plante">+</button>