<h2 mat-dialog-title>Pépinière</h2>
<mat-dialog-content>
  <form [formGroup]="formGroup" (ngSubmit)="save()">
    <frmk-text-field label="Nom" controlName="name"></frmk-text-field>
    <frmk-text-field label="Adresse" controlName="address"></frmk-text-field>
    <frmk-text-field label="Code postal" controlName="zipCode"></frmk-text-field>
    <frmk-text-field label="Ville" controlName="city"></frmk-text-field>
    <frmk-text-field label="Email" controlName="email"></frmk-text-field>
    <frmk-url-field label="Site web" controlName="url"></frmk-url-field>
    <frmk-text-field label="Téléphone 1" controlName="tel1"></frmk-text-field>
    <frmk-text-field label="Téléphone 2" controlName="tel2"></frmk-text-field>
    <frmk-textarea-field label="Description" controlName="description"></frmk-textarea-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="save()" [disabled]="!formGroup.valid">Sauvegarder</button>
  <button mat-button mat-dialog-close>Fermer</button>
</mat-dialog-actions>
<button class="close" mat-button mat-dialog-close>&times;</button>