<h2 mat-dialog-title>Signaler une erreur</h2>
<mat-dialog-content>
  <form [formGroup]="reportingForm" (ngSubmit)="sendReporting()">
    <mat-form-field>
      <input matInput type="text" id="name" placeholder="Votre nom" autocomplete="off" formControlName="name" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="email" id="email" placeholder="Votre email" autocomplete="off" formControlName="email">
      <mat-error *ngIf="emailIsInvalid">
        Adresse email invalide
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" id="message" placeholder="Message" autocomplete="off" formControlName="message" required>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" type="submit" [disabled]="!reportingForm.valid">Envoyer</button>
  <button mat-button mat-dialog-close>Fermer</button>
</mat-dialog-actions>
<button class="close" mat-button mat-dialog-close>&times;</button>