<h2 mat-dialog-title>Plantation</h2>
<mat-dialog-content>
  <form [formGroup]="formGroup">
    <frmk-text-field label="Nom" controlName="name"></frmk-text-field>
    <frmk-text-field label="Nom abrégé" controlName="shortName"></frmk-text-field>
    
    <span *ngIf="varieties$ | async as varieties">
      <app-autocompletelist-field *ngIf="varieties.length > 0" emptyText="Non défini"
        label="Variété" controlName="codeVariety" [list$]="varieties$"
        (selectionChange)="onVarietyChange($event)">
      </app-autocompletelist-field>
    </span>
    <span *ngIf="rootstocks$ | async as rootstocks">
      <app-autocompletelist-field *ngIf="rootstocks.length > 0" emptyText="Non défini"
        label="Porte-greffe" controlName="codeRootstock" [list$]="rootstocks$"
        (selectionChange)="onRootstockChange($event)">
      </app-autocompletelist-field>
    </span>
  
    <frmk-integer-field [label]="'Hauteur (' + sizeUnits + ')'" controlName="height"></frmk-integer-field>
    <frmk-integer-field [label]="'Envergure (' + sizeUnits + ')'" controlName="span"></frmk-integer-field>

    <app-autocompletelist-field label="Provenance (pépinière)"
      (addItem)="onAddNursery()" 
      emptyText="Non défini" newItemText="Ajouter une nouvelle pépinière" 
      controlName="codeNursery" [list$]="nurseries$">
    </app-autocompletelist-field>
    <frmk-date-field label="Date de plantation" controlName="plantingYear"></frmk-date-field>
    <frmk-textarea-field label="Situation" controlName="locationDescription"></frmk-textarea-field>
    <frmk-textarea-field label="Commentaires" controlName="comment"></frmk-textarea-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="openHistory()" style="margin-right: 1em;">Historique</button>  
  <button mat-button (click)="save()" [disabled]="!formGroup.valid">Sauvegarder</button>
  <button mat-button mat-dialog-close>Fermer</button>
</mat-dialog-actions>
<button class="close" mat-button mat-dialog-close>&times;</button>