th.mat-header-cell {
  min-width: 4em;
}

.overlay{
  height:100vh;
  width:100vw;
  background-color:rgba(0, 0, 0, 0.286);
  z-index:    10;
  top:        0;
  left:       0;
  position:   fixed;
}

.photo-row {
  height: 0;
}

td.mat-cell {
  border-bottom-width: 0px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0,0,0,.12);
}
td.mat-column-photos {
  border-bottom-width: 0px;
  border-top-width: 0px;
}


.photo {
  position: relative;
  display: inline-block;
}

.photo img {
  max-height: 25em;
  padding: 0 1em 0 1em;
}

.photo .mat-button {
  position: absolute;
  top: 0.3em;
  right: 1em;
  z-index: 10;
  background-color: #FFF;
  padding: 5px 2px 2px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  opacity: .5;
  text-align: center;
  font-size: 22px;
  line-height: 10px;
  border-radius: 50%;
  min-width: auto;
}

.photo:hover .close {
  opacity: 1;
}
