<div class="overlay" *ngIf="spinnerVisibility">
  <div class="center">
    <mat-progress-spinner class="center" diameter=120 mode="indeterminate" color="'#ed1e2d'"></mat-progress-spinner>
  </div>
</div>

<h2 mat-dialog-title>Historique</h2>
<mat-dialog-content #dialogContent>
  <form [formGroup]="formGroup">
    <input type="file" style="display:none" id="inputFile" multiple 
      accept=".jpg,.jpeg,.png"
      (change)="handleFileInput($event.target.files)" />
    <table mat-table matSort class="list" [dataSource]="dataSource" multiTemplateDataRows>
      <ng-container matColumnDef="dtHistory">
        <th mat-header-cell *matHeaderCellDef class="date">Date</th>
        <td mat-cell *matCellDef="let history" class="date">{{ history.dtHistory | date:'shortDate' }}</td>
        <td mat-footer-cell *matFooterCellDef>
          <frmk-date-field label="Date" controlName="dtHistory"></frmk-date-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="health">
        <th mat-header-cell *matHeaderCellDef>Etat de santé</th>
        <td mat-cell *matCellDef="let history">{{ (plantationHistoryService.getHealth(history.health) | async)?.GetTextValue() }}</td>
        <td mat-footer-cell *matFooterCellDef>
          <app-dropdownlist-field
            label="Etat de santé" controlName="health" [list$]="healthList$">
          </app-dropdownlist-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="height">
        <th mat-header-cell *matHeaderCellDef class="size">Hauteur (m)</th>
        <td mat-cell *matCellDef="let history" class="size">
          <span *ngIf="history.height">{{ history.height / 100 }} m</span>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <frmk-integer-field [label]="'Hauteur (m)'" controlName="height"></frmk-integer-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="span">
        <th mat-header-cell *matHeaderCellDef class="size">Envergure (m)</th>
        <td mat-cell *matCellDef="let history" class="size">
          <span *ngIf="history.span">{{ history.span / 100 }} m</span>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <frmk-integer-field [label]="'Envergure (m)'" controlName="span"></frmk-integer-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="trunkCircumference">
        <th mat-header-cell *matHeaderCellDef class="size">Circonférence du tronc (mm)</th>
        <td mat-cell *matCellDef="let history" class="size">
          <span *ngIf="history.trunkCircumference">{{ history.trunkCircumference }} mm</span>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <frmk-integer-field [label]="'Circonférence (mm)'" controlName="trunkCircumference"></frmk-integer-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef>Commentaire</th>
        <td mat-cell *matCellDef="let history">{{ history.comment }}</td>
        <td mat-footer-cell *matFooterCellDef>
          <frmk-textarea-field label="Commentaires" controlName="comment"></frmk-textarea-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let history">
          <label *ngIf="(isJwtLoggedIn$ | async)" for="inputFile" class="add-files-button">
            <mat-icon aria-label="Action" (click)="addPhotos(history)">photo_library</mat-icon>
          </label>
          <mat-icon *ngIf="(isJwtLoggedIn$ | async)" aria-label="Action" (click)="goToEditMode(history)">edit</mat-icon>
          <mat-icon *ngIf="(isJwtLoggedIn$ | async)" aria-label="Action" (click)="removeHistory(history)">delete</mat-icon>
        </td>
        <td mat-footer-cell *matFooterCellDef>
        </td>
      </ng-container>

      <ng-container matColumnDef="photos">
        <td mat-cell *matCellDef="let history" [attr.colspan]="displayedColumns.length">
          <div style="text-align: center;">
            <span *ngFor="let photo of history.photos" class="photo">              
              <img [src]="projectsApiBaseUrl + photo.url"/>
              <button *ngIf="(isJwtLoggedIn$ | async)" (click)="removePhoto(photo)" mat-button>&times;</button>
            </span>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-row *matRowDef="let row; columns: ['photos']" class="photo-row"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true" [hidden]="!(isJwtLoggedIn$ | async)"></tr>
    </table>
  </form>
  <mat-paginator *ngIf="history.length > 10" [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]"
               showFirstLastButtons
               aria-label="Selectionner la page">
  </mat-paginator>
  <div *ngIf="!(isJwtLoggedIn$ | async) && history.length ===0" class="text-center">Il n'y a aucun historique</div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button *ngIf="(isJwtLoggedIn$ | async) && !codeHistoryToEdit" (click)="addHistory()" [disabled]="!formGroup.valid">Ajouter</button>
  <button mat-button *ngIf="(isJwtLoggedIn$ | async) && codeHistoryToEdit" (click)="updateHistory()" [disabled]="!formGroup.valid">Modifier</button>
  <button mat-button *ngIf="(isJwtLoggedIn$ | async) && codeHistoryToEdit" (click)="codeHistoryToEdit = 0">Annuler</button>
  <button mat-button mat-dialog-close>Fermer</button>
</mat-dialog-actions>
<button class="close" mat-button mat-dialog-close>&times;</button>