<span *ngIf="plant && !updateMode && plant.minUsdahardiness">{{plant.minUsdahardiness}}-{{plant.maxUsdahardiness}}</span>
<span *ngIf="plant && updateMode" class="custom-slider usdahardiness-slider">
    <mat-checkbox [(ngModel)]="isVisible" (change)="onChangeVisibility()"></mat-checkbox>
    <span *ngIf="isVisible">
        <ngx-slider [(value)]="plant.minUsdahardiness" [(highValue)]="plant.maxUsdahardiness" [options]="options"></ngx-slider>
    </span>
</span>
