@import "Apps/Permaguildes/src/app/styles/variables.scss";

::ng-deep {
    .usdahardiness-slider .ngx-slider .ngx-slider-span.ngx-slider-tick-legend {
        -webkit-transform: translate(-100%,0);
        transform: translate(-100%,0);
        max-width: initial;
        width: 10vw;
    }

    .usdahardiness-slider .ngx-slider .ngx-slider-tick {
        width: 3px;
        height: 3em;
        -webkit-transform: translate(-10vw,0);
        transform: translate(-10vw,0);
        border-radius: 0;
    }
}
