<h2 mat-dialog-title>Création d'un nouveau projet</h2>
<mat-dialog-content>
  <form [formGroup]="formGroup">
    <frmk-text-field label="Nom" controlName="name"></frmk-text-field>
    <frmk-textarea-field label="Description" controlName="description"></frmk-textarea-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="newProject()" [disabled]="!formGroup.valid">Créer</button>
  <button mat-button mat-dialog-close>Fermer</button>
</mat-dialog-actions>
<button class="close" mat-button mat-dialog-close>&times;</button>