<div class="container" *ngIf="project$ | async; let project else loadingBlock">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 routerLink="/" routerLinkActive="active">PermaGuildes</h1>
    <h2>{{ project.name }}</h2>
    <span class="spacer"></span>
    <div *ngIf="selectedPlantation">{{ selectedPlantation?.name }}</div>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav id="snav" #snav mode="side" [opened]="navOpened" (opened)="onNavOpened($event)">
      <app-plants-finder 
        *ngIf="view===1 && showPlantsFinder()" maxWidth=30 [dragEnable]="isLogged"></app-plants-finder>
      <app-plantations-list #plantationsList 
        *ngIf="view===2 || (view===1 && !showPlantsFinder())" maxWidth=30 [dragEnable]="isLogged" [project]="project"
        (plantationSelect)="onListPlantationSelect($event)"
        (plantationUnselect)="onListPlantationUnselect($event)"
        (plantationVisibilityChange)="onListPlantationVisibilityChange($event)">
      </app-plantations-list>
      <app-settings *ngIf="view===3" maxWidth=30 [project]="project"></app-settings>
      <mat-toolbar color="primary" class="toolbar">
        <h1 fxFlex="34%" *ngIf="showPlantsFinder()" (click)="view=1"><mat-icon>search</mat-icon></h1>
        <h1 [fxFlex]="!showPlantsFinder() ? '50%' : '33%'" (click)="view=2;waitAndSelectPlantationOnList()"><mat-icon>list</mat-icon></h1>
        <h1 [fxFlex]="!showPlantsFinder() ? '50%' : '33%'" (click)="view=3"><mat-icon>settings</mat-icon></h1>
      </mat-toolbar>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-project-map #projectMap [project]="project"
        (plantationSelect)="onMapPlantationSelect($event)"
        (plantationUnselect)="onMapPlantationUnselect($event)">
      </app-project-map>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<ng-template #loadingBlock>
  <mat-progress-spinner class="center" color="primary" mode="indeterminate"></mat-progress-spinner>
</ng-template>