.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-container {
  flex: 1;
}

::ng-deep {
  #snav, #snav .mat-drawer-inner-container {
    overflow: hidden;
  }
}

h1 { 
  cursor: pointer;
  text-align: center;
}

h2 {  
  font-family: cursive;
  font-size: 16px;
  margin-left: 16px;
}

app-plants-finder, app-plantations-list, app-settings {
  height: calc(100% - 64px);
}
@media (max-width: 599px) {
  app-plants-finder, app-plantations-list, app-settings {
    height: calc(100% - 56px);
  }
}