<span *ngIf="plant && !updateMode && plant.harvestPeriods[0]">
    <span *ngIf="plant.harvestPeriods[0] === plant.harvestPeriods[1]">
        {{getMonthName(plant.harvestPeriods[0])}}
    </span>
    <span *ngIf="plant.harvestPeriods[0] !== plant.harvestPeriods[1]">
        {{getMonthName(plant.harvestPeriods[0])}} à {{getMonthName(plant.harvestPeriods[1])}}
    </span>
</span>
<span *ngIf="plant && !updateMode && plant.harvestPeriods[2]">
    et 
    <span *ngIf="plant.harvestPeriods[2] === plant.harvestPeriods[3]">
        {{getMonthName(plant.harvestPeriods[2])}}
    </span>
    <span *ngIf="plant.harvestPeriods[2] !== plant.harvestPeriods[3]">
        {{getMonthName(plant.harvestPeriods[2])}} à {{getMonthName(plant.harvestPeriods[3])}}
    </span>
</span>

<span *ngIf="plant && updateMode" class="custom-slider custom-slider-hidden-values">
    <span>
        <mat-checkbox [(ngModel)]="period1Visible" (change)="onChangePeriodVisibility(1)"></mat-checkbox>
        <mat-checkbox [(ngModel)]="period2Visible" (change)="onChangePeriodVisibility(2)"></mat-checkbox>
    </span>
    <span *ngIf="period1Visible">
        <ngx-slider [(value)]="plant.harvestPeriods[0]" [(highValue)]="plant.harvestPeriods[1]" [options]="options"></ngx-slider>
    </span>
    <span *ngIf="period2Visible">
        <ngx-slider [(value)]="plant.harvestPeriods[2]" [(highValue)]="plant.harvestPeriods[3]" [options]="options"></ngx-slider>
    </span>
</span>
