@media only screen and (max-width: 959px) {
  ::ng-deep {
    .leaflet-control-attribution.leaflet-control {
        display: none;
    }
  }
}


#map {
  height: 100%;
}

::ng-deep {
  .leaflet-overlay-pane path.mapCircle.selected {
    filter: drop-shadow(2px 4px 6px blue);
  }
  .leaflet-overlay-pane path.mapImage.selected {
    filter: drop-shadow(1px 1px 1px blue);
  }
  .leaflet-marker-icon.mapLabel.selected, 
  .leaflet-marker-icon.mapFullLabel.selected {
    color: red;
  }
  .leaflet-pane path.mapLabel.selected span,
  .leaflet-pane path.mapFullLabel.selected div {
    color: blue;
  }
  .leaflet-pane .hidden,
  .leaflet-overlay-pane .hidden {
    display: none !important;
  }
}

::ng-deep {
  .mapImage {
    display: none;
  }
  .mapLabel, .mapFullLabel {
    display: none;
  }

  #map .mapLabel span,
  #map .mapFullLabel div {
    position: relative;
    white-space: pre;
    line-height: 1em;
    left: -50%;
    top: -1em;
  }

  #map.manualDrawingPlantations .mapImage,
  #map.autoDrawingOptions.zoom_16 .mapImage.largePlant, 
  #map.autoDrawingOptions.zoom_17 .mapImage.largePlant, 
  #map.autoDrawingOptions.zoom_18 .mapImage.largePlant, 
  #map.autoDrawingOptions.zoom_19 .mapImage.largePlant, 
  #map.autoDrawingOptions.zoom_20 .mapImage.largePlant,
  #map.autoDrawingOptions.zoom_21 .mapImage.smallPlant,
  #map.autoDrawingOptions.zoom_22 .mapImage.smallPlant {
    display: inherit;
  }

  #map.manualDrawingPlantationNames.zoom_19 .mapLabel.largePlant, 
  #map.manualDrawingPlantationNames.zoom_20 .mapLabel.largePlant, 
  #map.manualDrawingPlantationNames.zoom_21:not(.manualDrawingPlantationVarieties) .mapLabel.largePlant, 
  #map.manualDrawingPlantationNames.zoom_22:not(.manualDrawingPlantationVarieties) .mapLabel.largePlant, 
  #map.manualDrawingPlantationNames.zoom_23:not(.manualDrawingPlantationVarieties) .mapLabel.largePlant, 
  #map.manualDrawingPlantationNames.zoom_24:not(.manualDrawingPlantationVarieties) .mapLabel.largePlant, 
  #map.manualDrawingPlantationNames.zoom_25:not(.manualDrawingPlantationVarieties) .mapLabel.largePlant, 
  #map.manualDrawingPlantationVarieties.zoom_21 .mapFullLabel.largePlant, 
  #map.manualDrawingPlantationVarieties.zoom_22 .mapFullLabel.largePlant, 
  #map.manualDrawingPlantationVarieties.zoom_23 .mapFullLabel.largePlant, 
  #map.manualDrawingPlantationVarieties.zoom_24 .mapFullLabel.largePlant, 
  #map.manualDrawingPlantationVarieties.zoom_25 .mapFullLabel.largePlant, 

  #map.manualDrawingPlantationNames.zoom_21 .mapLabel.smallPlant, 
  #map.manualDrawingPlantationNames.zoom_22:not(.manualDrawingPlantationVarieties) .mapLabel.smallPlant, 
  #map.manualDrawingPlantationNames.zoom_23:not(.manualDrawingPlantationVarieties) .mapLabel.smallPlant, 
  #map.manualDrawingPlantationNames.zoom_24:not(.manualDrawingPlantationVarieties) .mapLabel.smallPlant, 
  #map.manualDrawingPlantationNames.zoom_25:not(.manualDrawingPlantationVarieties) .mapLabel.smallPlant, 
  #map.manualDrawingPlantationVarieties.zoom_22 .mapFullLabel.smallPlant, 
  #map.manualDrawingPlantationVarieties.zoom_23 .mapFullLabel.smallPlant, 
  #map.manualDrawingPlantationVarieties.zoom_24 .mapFullLabel.smallPlant, 
  #map.manualDrawingPlantationVarieties.zoom_25 .mapFullLabel.smallPlant, 

  #map.autoDrawingOptions.zoom_20 .mapLabel.largePlant, 
  #map.autoDrawingOptions.zoom_21 .mapLabel.largePlant, 
  #map.autoDrawingOptions.zoom_22 .mapFullLabel.largePlant, 
  #map.autoDrawingOptions.zoom_23 .mapFullLabel.largePlant, 
  #map.autoDrawingOptions.zoom_24 .mapFullLabel.largePlant, 
  #map.autoDrawingOptions.zoom_25 .mapFullLabel.largePlant,
  #map.autoDrawingOptions.zoom_22 .mapLabel.smallPlant,
  #map.autoDrawingOptions.zoom_23 .mapFullLabel.smallPlant,
  #map.autoDrawingOptions.zoom_24 .mapFullLabel.smallPlant,
  #map.autoDrawingOptions.zoom_25 .mapFullLabel.smallPlant {
    display: inherit;
    pointer-events: none;
    margin-top: 0.2em !important;
    text-align: center;
    background-color: transparent;
    border: 0;
    font-weight: 900;
  }
  
  .showPlantationNames.showLargePlantTexts .mapLabel.largePlant, 
  .showPlantationNames.showSmallPlantTexts .mapLabel.smallPlant,
  .showPlantationNames.showFullLabelForLargePlant .mapFullLabel.largePlant,
  .showPlantationNames.showFullLabelForSmallPlant .mapFullLabel.smallPlant {
    display: inherit;
    pointer-events: none;
    margin-top: 0.2em !important;
    text-align: center;
    background-color: transparent;
    border: 0;
    font-weight: 900;
  }
}