<span *ngIf="plant && (plant.edibilityRating || updateMode)" 
    [ngClass]="(updateMode)?'updateMode':''"
    [matTooltip]="(!updateMode)?getTooltipText(plant.edibilityRating):undefined">
    <mat-icon [ngClass]="(plant.edibilityRating >= 1)?'score on':'score'"
        [matTooltip]="(updateMode)?getTooltipText(1):undefined"
        (click)="onIconClick(1)">sentiment_dissatisfied</mat-icon>
    <mat-icon [ngClass]="(plant.edibilityRating >= 2)?'score on':'score'"
        [matTooltip]="(updateMode)?getTooltipText(2):undefined"
        (click)="onIconClick(2)">sentiment_satisfied</mat-icon>
    <mat-icon [ngClass]="(plant.edibilityRating >= 3)?'score on':'score'"
        [matTooltip]="(updateMode)?getTooltipText(3):undefined"
        (click)="onIconClick(3)">sentiment_satisfied</mat-icon>
    <mat-icon [ngClass]="(plant.edibilityRating >= 4)?'score on':'score'"
        [matTooltip]="(updateMode)?getTooltipText(4):undefined"
        (click)="onIconClick(4)">sentiment_very_satisfied</mat-icon>
    <mat-icon [ngClass]="(plant.edibilityRating >= 5)?'score on':'score'"
        [matTooltip]="(updateMode)?getTooltipText(5):undefined"
        (click)="onIconClick(5)">sentiment_very_satisfied</mat-icon>
</span> 
