<h2 mat-dialog-title>Groupe de plantations</h2>
<mat-dialog-content>
  <form [formGroup]="groupForm">
    <mat-form-field>
      <input matInput type="text" id="name" placeholder="Nom du groupe" autocomplete="off" formControlName="name" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" id="description" placeholder="Description" autocomplete="off" formControlName="description">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="!groupForm.valid">Sauvegarder</button>
  <button mat-button mat-dialog-close>Fermer</button>
</mat-dialog-actions>
<button class="close" mat-button mat-dialog-close>&times;</button>