<span *ngIf="plant && !updateMode && plant.floweringPeriods[0]">
    <span *ngIf="plant.floweringPeriods[0] === plant.floweringPeriods[1]">
        {{getMonthName(plant.floweringPeriods[0])}}
    </span>
    <span *ngIf="plant.floweringPeriods[0] !== plant.floweringPeriods[1]">
        {{getMonthName(plant.floweringPeriods[0])}} à {{getMonthName(plant.floweringPeriods[1])}}
    </span>
</span>
<span *ngIf="plant && !updateMode && plant.floweringPeriods[2]">
    et 
    <span *ngIf="plant.floweringPeriods[2] === plant.floweringPeriods[3]">
        {{getMonthName(plant.floweringPeriods[2])}}
    </span>
    <span *ngIf="plant.floweringPeriods[2] !== plant.floweringPeriods[3]">
        {{getMonthName(plant.floweringPeriods[2])}} à {{getMonthName(plant.floweringPeriods[3])}}
    </span>
</span>

<span *ngIf="plant && updateMode" class="custom-slider custom-slider-hidden-values">
    <span>
        <mat-checkbox [(ngModel)]="period1Visible" (change)="onChangePeriodVisibility(1)"></mat-checkbox>
        <mat-checkbox [(ngModel)]="period2Visible" (change)="onChangePeriodVisibility(2)"></mat-checkbox>
    </span>
    <span *ngIf="period1Visible">
        <ngx-slider [(value)]="plant.floweringPeriods[0]" [(highValue)]="plant.floweringPeriods[1]" [options]="options"></ngx-slider>
    </span>
    <span *ngIf="period2Visible">
        <ngx-slider [(value)]="plant.floweringPeriods[2]" [(highValue)]="plant.floweringPeriods[3]" [options]="options"></ngx-slider>
    </span>
</span>