<button mat-button (click)="login()">Connection</button>
<button mat-button (click)="logout()">Déconnection</button>

<i>
    <div *ngIf="!(isLoggedIn$ | async)">Vous êtes déconnecté</div>
    <div *ngIf="(isLoggedIn$ | async)">Vous êtes connecté</div>
</i>
