<mat-form-field appearance="fill" [formGroup]="formGroup">
<mat-label>{{ label }}</mat-label>
<mat-select [formControlName]="controlName" (selectionChange)="onSelectionChange($event)">
  <mat-option *ngIf="emptyText !== undefined" value="0">{{ emptyText }}</mat-option>
  <span *ngIf="list$ | async as list">
    <mat-option *ngFor="let item of list" [value]="item.GetKey()">
      {{ item.GetTextValue() }}
    </mat-option>
  </span>
  <mat-option *ngIf="newItemText" value="-1" >{{ newItemText }}</mat-option>
</mat-select>
<mat-error *ngIf="control.invalid && control.errors?.['required']">Champ obligatoire</mat-error>
</mat-form-field>
