<div class="auth">
  <div *ngIf="!(isJwtLoggedIn$ | async)" (click)="authJwtService.openLoginDialog()">Connection</div>
  <div *ngIf="(isJwtLoggedIn$ | async)" (click)="logout()">Déconnection</div>
</div>