@import "Apps/Permaguildes/src/app/styles/variables.scss";

.mat-list-base .mat-list-item {
    font-size: $tight-list-font-size;
    height: $tight-list-item-height;
    white-space: nowrap;
}

.source-link {
    font-size:$small-link-font-size;
    text-align: right;
}

.secondary-info {
    color: grey;
    font-size: smaller;
}

.showAll {
    font-size:$small-link-font-size;
    font-style: italic;
}