<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" *ngIf="plant">
  <mat-form-field fxFlex *ngIf="updateMode">
    <input [formControl]="codeSophyCtrl" matInput type="number" app-codesophy [(ngModel)]="plant.codeSophy" placeholder="Code dans la base de données Sophy" >
    <mat-error *ngIf="codeSophyCtrl.errors?.message">
      {{ codeSophyCtrl.errors.message }}
    </mat-error>
  </mat-form-field>
  
  <mat-list fxFlex *ngIf="!updateMode">
    <b>Plantes naturellement fidèles</b>
    <mat-list-item *ngFor="let companion of plant.companions | filter : discriminantsPlantsFilter : showAllDiscriminants | orderby : 'fidelity' : 'desc'">
      <span [ngClass]="{ 'secondary-info' : !companion.codePlant }">
        <span *ngIf="companion.codePlant === plant.code">
          {{ companion.name || companion.latinNames }}
        </span>
        <a *ngIf="companion.codePlant && companion.codePlant !== plant.code" [routerLink]="['/nav/plant', companion.codePlant]" routerLinkActive="active">
          {{ companion.name || companion.latinNames }}
        </a>
        <span *ngIf="!companion.codePlant && showAllDiscriminants">
          {{ companion.sophyName }}
        </span>
        <span *ngIf="companion.codePlant !== plant.code && companion.fidelity">Fidélité: {{ companion.fidelity }}%</span>
        <span fxHide fxShow.gt-md *ngIf="companion.codePlant !== plant.code && companion.frequency" class="secondary-info">, </span>
        <span fxHide fxShow.gt-md *ngIf="companion.frequency" class="secondary-info">Fréquence: {{ companion.frequency }}</span>
        <span fxHide fxShow.gt-md *ngIf="companion.codePlant !== plant.code && companion.pdcum" class="secondary-info">, PdCum: {{ companion.pdcum }}%</span>
      </span>
    </mat-list-item>
    <br/>
    <mat-checkbox [(ngModel)]="showAllDiscriminants" class="showAll">Tout afficher</mat-checkbox>
  </mat-list>


  <mat-list fxFlex *ngIf="!updateMode">
    <b>Plantes écologiquement similaires</b>
    <mat-list-item *ngFor="let companion of plant.companions | filter : similarsPlantsFilter : showAllSimilars | orderby : 'gap' : 'desc'">
      <span [ngClass]="{ 'secondary-info' : !companion.codePlant }">
        <span *ngIf="!companion.codePlant">
          {{ companion.name || companion.latinNames || companion.sophyName }}
        </span>
        <a *ngIf="companion.codePlant" [routerLink]="['/nav/plant', companion.codePlant]" routerLinkActive="active">
          {{ companion.name || companion.latinNames || companion.sophyName }}
        </a>
          <span *ngIf="companion.gap">({{ companion.gap }}%)</span>
      </span>
    </mat-list-item>
    <br/>
    <mat-checkbox [(ngModel)]="showAllSimilars" class="showAll">Tout afficher</mat-checkbox>
  </mat-list>


  <p *ngIf="plant.codeSophy > 0" fxFlex="none">
    <img 
      [src]="sophyService.getUrlImageFromCode(plant.codeSophy)"
      onload="this.style.display='block'" onerror="this.style.display='none'">
  </p>
</div>

<p class="source-link" *ngIf="plant && !updateMode && plant.codeSophy">
  Pourcentage et associations naturelles en provenance de 
  <a [href]="sophyService.getUrlFromCode(plant.codeSophy)" target="_blank">la base de données Sophy de Tela Botanica</a>
</p>

