<span *ngIf="plant && plant.minSpan && !updateMode">{{plant.minSpan}}-{{plant.maxSpan}} {{plant.sizeUnits}}</span>
<span *ngIf="plant && updateMode" class="custom-slider custom-slider-hidden-values">
    <mat-checkbox [(ngModel)]="isVisible" (change)="onChangeVisibility()"></mat-checkbox>
    <span *ngIf="isVisible">
        <ngx-slider [(value)]="plant.minSpan" [(highValue)]="plant.maxSpan" [options]="options"></ngx-slider>
    </span>
</span>