<span *ngIf="!updateMode && plant && plant.growth === 1">Lente</span>
<span *ngIf="!updateMode && plant && plant.growth === 2">Moyenne</span>
<span *ngIf="!updateMode && plant && plant.growth === 3">Rapide</span>
<span *ngIf="updateMode && plant" class="custom-slider custom-slider-hidden-values">
    <ngx-slider [(value)]="plant.growth" [options]="options"></ngx-slider>
</span>