<span *ngIf="!updateMode && plant">
  <mat-icon *ngIf="plant.exposureSun" style="color:orange" [matTooltip]="PlantProperties.ExposureSun.toString()">wb_sunny</mat-icon>
  <mat-icon *ngIf="plant.exposureMiddle" [matTooltip]="PlantProperties.ExposureMiddle.toString()">cloud_queue</mat-icon>
  <mat-icon *ngIf="plant.exposureShadow" [matTooltip]="PlantProperties.ExposureShadow.toString()">wb_cloudy</mat-icon>
</span>
<span *ngIf="updateMode">
  <mat-form-field>
    <mat-label>Exposition</mat-label>
    <mat-select [value]="codes" multiple (selectionChange)="updateSelection($event)">
      <mat-option value="1">{{PlantProperties.ExposureSun.toString()}}</mat-option>
      <mat-option value="2">{{PlantProperties.ExposureMiddle.toString()}}</mat-option>
      <mat-option value="3">{{PlantProperties.ExposureShadow.toString()}}</mat-option>
    </mat-select>
  </mat-form-field>
</span>
