@import "Apps/Permaguildes/src/app/styles/variables.scss";

mat-icon {
    font-size: $property-icon-size;
    width: $property-icon-size;
    height: $property-icon-size;
    vertical-align: $property-icon-vertical-align;
}
