<mat-card *ngIf="plant$ | async as plant else loadingBlock">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title *ngIf="!updateMode && plant.name">{{ plant.name }}</mat-card-title>
    <mat-card-title *ngIf="!updateMode && !plant.name">{{ plant.latinNames }}</mat-card-title>
    <input *ngIf="updateMode" matInput [(ngModel)]="plant.name" placeholder="Nom" >
    <mat-card-subtitle *ngIf="!updateMode && plant.name && plant.name !== plant.latinNames">{{ plant.latinNames }}</mat-card-subtitle>
    <input *ngIf="updateMode" matInput [(ngModel)]="plant.latinNames" placeholder="Nom latin" >
  </mat-card-header>
  <mat-card-content>
    <div style="margin-bottom:1em">
      <div fxLayout>
          <div fxFlex="50%">
            <app-labeled-property [labelType]="labelTypes.Stratum" [plant]="plant" [updateMode]="updateMode"></app-labeled-property>
          </div>
          <div fxFlex="50%" class="right">
            <app-labeled-property [labelType]="labelTypes.Family" [plant]="plant" [updateMode]="updateMode"></app-labeled-property>
          </div>
      </div>
      <div fxLayout>
          <div fxFlex="50%">
            <app-labeled-property [labelType]="labelTypes.VegetationTypes" [plant]="plant" [updateMode]="updateMode"></app-labeled-property>
          </div>
          <div fxFlex="50%" class="right">
            <app-labeled-property [labelType]="labelTypes.SexualCharacteristic" [plant]="plant" [updateMode]="updateMode"></app-labeled-property>
          </div>
      </div>
      <div fxLayout>
          <div *ngIf="updateMode || plant.minUsdahardiness" fxFlex="100%">Rusticité (USDA): 
            <app-usdahardiness-property [plant]="plant" [updateMode]="updateMode"></app-usdahardiness-property>
          </div>
      </div>
      <div fxLayout>
          <div *ngIf="updateMode || plant.minHeight" fxFlex="50%">Hauteur: 
            <app-height-property [plant]="plant" [updateMode]="updateMode"></app-height-property>
          </div>
          <div *ngIf="updateMode || plant.minSpan" fxFlex="50%">Envergure: 
            <app-span-property [plant]="plant" [updateMode]="updateMode"></app-span-property>
          </div>
      </div>
      <div fxLayout>
        <div *ngIf="updateMode || this.plant.floweringPeriods.length > 0" fxFlex="100%">Période de floraison: 
          <app-flowering-property [plant]="plant" [updateMode]="updateMode"></app-flowering-property>
        </div>
      </div>
      <div fxLayout>
        <div *ngIf="updateMode || this.plant.harvestPeriods.length > 0" fxFlex="100%">Période de récolte: 
          <app-harvest-property [plant]="plant" [updateMode]="updateMode"></app-harvest-property>
        </div>
      </div>
      <div fxLayout>
          <div fxFlex="50%">Exposition: 
            <app-exposure-property [plant]="plant" [updateMode]="updateMode"></app-exposure-property>
          </div>
          <div fxFlex="50%" *ngIf="!updateMode && plant.fertility">Auto-fertile</div>
          <mat-checkbox fxFlex="50%" *ngIf="updateMode" [(ngModel)]="plant.fertility">Auto-fertile</mat-checkbox>
      </div>
      <div fxLayout>
        <div fxFlex="50%" *ngIf="!updateMode && plant.nitrate">Fixateur d'azote</div>
        <mat-checkbox fxFlex="50%" *ngIf="updateMode" [(ngModel)]="plant.nitrate">Fixateur d'azote</mat-checkbox>
        <div fxFlex="50%" *ngIf="!updateMode && plant.othersMinerals">Fixateur d'autres minéraux</div>
        <mat-checkbox fxFlex="50%" *ngIf="updateMode" [(ngModel)]="plant.othersMinerals">Fixateur d'autres minéraux</mat-checkbox>
      </div>
      <div fxLayout>
        <div fxFlex="33%" *ngIf="!updateMode && plant.melliferous">Mellifère</div>
        <mat-checkbox fxFlex="33%" *ngIf="updateMode" [(ngModel)]="plant.melliferous">Mellifère</mat-checkbox>
        <div fxFlex="33%" *ngIf="!updateMode && plant.aromaticPlant">Plante aromatique</div>
        <mat-checkbox fxFlex="33%" *ngIf="updateMode" [(ngModel)]="plant.aromaticPlant">Plante aromatique</mat-checkbox>
        <div fxFlex="33%" *ngIf="!updateMode && plant.windbreaker">Brise-vent</div>
        <mat-checkbox fxFlex="33%" *ngIf="updateMode" [(ngModel)]="plant.windbreaker">Brise-vent</mat-checkbox>
      </div>
      
      <div fxLayout>
          <div fxFlex="50%">Eau: 
            <app-water-icon [plant]="plant" [updateMode]="updateMode"></app-water-icon>
          </div>
          <div fxFlex="50%">Croissance: 
            <app-growth-property [plant]="plant" [updateMode]="updateMode"></app-growth-property>
          </div>
      </div>
      <div fxLayout>
          <div fxFlex="50%" *ngIf="updateMode || plant.edibilityRating">Comestible: 
            <app-edibility-icon [plant]="plant" [updateMode]="updateMode"></app-edibility-icon>
          </div>
          <div fxFlex="50%" *ngIf="updateMode || plant.medicinalRating">Médicinal: 
            <app-medicinal-icon [plant]="plant" [updateMode]="updateMode"></app-medicinal-icon>
          </div>
      </div>
      <div fxLayout>
          <div fxFlex="50%">
            <app-auxiliaries-property [plant]="plant" [updateMode]="updateMode"></app-auxiliaries-property>
          </div>
          <div fxFlex="50%" class="right">
            <app-repellents-property [plant]="plant" [updateMode]="updateMode"></app-repellents-property>
          </div>
      </div>
    </div>
    <mat-accordion #accordion>
      <mat-expansion-panel *ngIf="updateMode || (plant.description && plant.description !== plant.pfafDescription)">
        <mat-expansion-panel-header>
          <mat-panel-title>Description</mat-panel-title>
        </mat-expansion-panel-header>
        <p *ngIf="!updateMode && plant.description !== plant.pfafDescription" class="prewrap-text">{{ plant.description }}</p>
        <textarea autosize [minRows]="5" [maxRows]="20" *ngIf="updateMode" placeholder="Description" [(ngModel)]="plant.description"></textarea>
      </mat-expansion-panel>
      
      <mat-expansion-panel *ngIf="plant.pfafUrl">
        <mat-expansion-panel-header>
          <mat-panel-title>Parties comestibles</mat-panel-title>
        </mat-expansion-panel-header>
        <p *ngIf="!updateMode" class="prewrap-text">{{ plant.pfafDescription }}</p>
        <p class="source-link" *ngIf="!updateMode && plant.pfafUrl">
          Traduction en provenance de 
          <a [href]="plant.pfafUrl" target="_blank">Pfaf</a>
        </p>
        <textarea autosize [minRows]="5" [maxRows]="20" *ngIf="updateMode" placeholder="Pfaf Description" [(ngModel)]="plant.pfafDescription"></textarea>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="contentTitle">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ contentTitle }}</mat-panel-title>
        </mat-expansion-panel-header>
        <ng-content></ng-content>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="plant.varieties?.length > 0">
        <mat-expansion-panel-header>
          <mat-panel-title>Variétés connues</mat-panel-title>
        </mat-expansion-panel-header>
        <span *ngFor="let variety of plant.varieties">
          <div #tooltip="matTooltip" [matTooltip]="variety.name + '\n' + variety.description" matTooltipClass='tooltip-description' style="width: fit-content"
            (click)="tooltip.toggle()">
            {{ variety.name }}
          </div>
       </span>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="plant.rootstocks?.length > 0">
        <mat-expansion-panel-header>
          <mat-panel-title>Porte-greffes</mat-panel-title>
        </mat-expansion-panel-header>
        <span *ngFor="let rootstock of plant.rootstocks">
          <div #tooltip="matTooltip" [matTooltip]="rootstock.name + '\n' + rootstock.description" matTooltipClass='tooltip-description' style="width: fit-content"
            (click)="tooltip.toggle()">
            {{ rootstock.name }} 
            <span *ngIf="rootstock.minHeight">(Hauteur : {{rootstock.minHeight}}-{{rootstock.maxHeight}} {{plant.sizeUnits}} - </span>
            <span *ngIf="rootstock.minSpan">Envergure : {{rootstock.minSpan}}-{{rootstock.maxSpan}} {{plant.sizeUnits}})</span>
          </div>
       </span>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="updateMode || plant.infosToKnow">
        <mat-expansion-panel-header>
          <mat-panel-title>Infos à savoir</mat-panel-title>
        </mat-expansion-panel-header>
        <p *ngIf="!updateMode" class="prewrap-text">{{ plant.infosToKnow }}</p>
        <textarea autosize [minRows]="5" [maxRows]="20" *ngIf="updateMode" placeholder="Infos à savoir" [(ngModel)]="plant.infosToKnow"></textarea>
       </mat-expansion-panel>
      <mat-expansion-panel *ngIf="updateMode || plant.pfafKnownHazards">
        <mat-expansion-panel-header>
          <mat-panel-title>Risques connus</mat-panel-title>
        </mat-expansion-panel-header>
        <p *ngIf="!updateMode" class="prewrap-text">{{ plant.pfafKnownHazards }}</p>
        <p class="source-link" *ngIf="!updateMode && plant.pfafUrl">
          Traduction automatique en provenance de 
          <a [href]="plant.pfafUrl" target="_blank">Pfaf</a>
        </p>
        <textarea autosize [minRows]="5" [maxRows]="20" *ngIf="updateMode" placeholder="Risques connus" [(ngModel)]="plant.pfafKnownHazards"></textarea>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="updateMode || plant.codeSophy || (plant.companions && plant.companions.length > 0)">
        <mat-expansion-panel-header>
          <mat-panel-title>Répartition et associations</mat-panel-title>
        </mat-expansion-panel-header>
        <app-companions [plant]="plant" [updateMode]="updateMode"></app-companions>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="updateMode || plant.pfafUrl || plant.externalLink">
        <mat-expansion-panel-header>
          <mat-panel-title>Sources de données</mat-panel-title>
        </mat-expansion-panel-header>
        <app-links-property [plant]="plant" [updateMode]="updateMode"></app-links-property>
      </mat-expansion-panel>
    </mat-accordion>

    <p class="source-link">
      <a [href]="'https://www.google.fr/search?tbm=isch&amp;q=' + plant.latinNames + '+plante'" target="_blank">
        Recherche d'images sur Google
      </a>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf="!updateMode" (click)="edit(plant.code)">Modifier</button>
    <button mat-button *ngIf="updateMode" [disabled]="savingInProgress" (click)="save(plant)">Sauvegarder</button>
    <button mat-button (click)="dialogsService.openReportingDialog(plant.code)">Signaler une erreur</button>
    <button mat-button *ngIf="closeButton" (click)="closed.emit()">Fermer</button>
  </mat-card-actions>
</mat-card>

<ng-template #loadingBlock>
  <mat-progress-spinner class="center" color="primary" mode="indeterminate"></mat-progress-spinner>
</ng-template>
