@import "Apps/Permaguildes/src/app/styles/variables.scss";

mat-accordion {
    padding-top:1em;
}

.prewrap-text {    
  white-space: pre-wrap;
}

.source-link {
    font-size:$small-link-font-size;
    text-align: right;
}

.mat-expansion-panel-header-title {
    font-weight: $header-title-font-weight;
}

textarea {
    width: 100%;
}

.source-link {
    font-size:$small-link-font-size;
    text-align: right;
}

::ng-deep mat-tooltip-component {
    & .tooltip-description {
        font-size: 14px;
        max-width: unset !important;
        white-space: pre-wrap;
    }
}