<span *ngIf="plant && (updateMode || plant.auxiliariesAttractive)">
    <div>
        <span *ngIf="!updateMode && plant.auxiliariesAttractive">Attire la faune</span>
        <mat-checkbox *ngIf="updateMode" [(ngModel)]="plant.auxiliariesAttractive">Attire la faune</mat-checkbox>
    </div>
    <div *ngIf="plant.auxiliariesAttractive">
        <span *ngIf="updateMode || (plant.codesAuxiliariesInsects && plant.codesAuxiliariesInsects.length > 0)">
            Auxiliaires : <app-labeled-property [labelType]="labelTypes.Auxiliaries" [plant]="plant" [updateMode]="updateMode"></app-labeled-property>
          </span>
    </div>
</span>
