<div style="height: 100%; overflow: auto;">
  <mat-tree #tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- Groups -->
    <mat-nested-tree-node *matTreeNodeDef="let groupNode; when: isExpandableNode">
        <div class="isGroupNode">
          <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + groupNode.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(groupNode) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <span matTreeNodeToggle style="cursor: pointer;" appDrop (drop)="onDrop($event, groupNode.codeGroup)">{{ groupNode.name }}</span>
          <span class="spacer"></span>
          <span *ngIf="groupNode.codeGroup !== undefined">
            <mat-icon aria-label="Action" (click)="updateGroup(groupNode)">edit</mat-icon>
            <mat-icon aria-label="Action" (click)="removeGroup(groupNode)">delete</mat-icon>
          </span>
        </div>

        <div [class.children-invisible]="!treeControl.isExpanded(groupNode)" role="group">
          <ng-container matTreeNodeOutlet></ng-container>
      </div>
    </mat-nested-tree-node>

    <!-- Add new group -->
    <mat-nested-tree-node *matTreeNodeDef="let node; when: isAddGroupNode" matTreeNodePadding>
      <mat-form-field>
        <mat-label>Nouveau groupe...</mat-label>
        <input matInput #newGroupValue (keyup.enter)="addGroup(newGroupValue.value)">
      </mat-form-field>
      <button mat-button (click)="addGroup(newGroupValue.value)">Ajouter</button>
    </mat-nested-tree-node>

    <!-- Plantations -->
    <mat-tree-node *matTreeNodeDef="let plantationNode" matTreeNodeToggle>
      <div class="isPlantationNode" [ngClass]="{'selected': selection.isSelected(plantationNode)}"
        (mousedown)="onClickPlantation($event, plantationNode)">
        <span appDrag [dragEnable]="dragEnable" [dragData]="selection.selected" dragAlign="center" appDrop (drop)="onDrop($event, plantationNode.codeGroup)">
          {{plantationNode.name}}
        </span>
        <span class="spacer"></span>
        <span>
          <mat-icon *ngIf="isLogged" aria-label="Action" (click)="updatePlantation(plantationNode)">edit</mat-icon>
          <span *ngIf="isLogged">
            <div *ngIf="getPlantationFromNode(plantationNode).visible; then plantationVisibleBlock else plantationInvisibleBlock"></div>
            <ng-template #plantationVisibleBlock>
              <mat-icon aria-label="Action" (click)="changeVisibility(plantationNode)">visibility</mat-icon>
            </ng-template>
            <ng-template #plantationInvisibleBlock>
              <mat-icon aria-label="Action" (click)="changeVisibility(plantationNode)">visibility_off</mat-icon>
            </ng-template>
          </span>
          <mat-icon aria-label="Action" (click)="openDetail(plantationNode)">info</mat-icon>
          <mat-icon *ngIf="isLogged" aria-label="Action" (click)="removePlantation(plantationNode)">delete</mat-icon>
        </span>
      </div>
    </mat-tree-node>
  </mat-tree>
</div>