@import "Apps/Permaguildes/src/app/styles/variables.scss";

:host {
  flex-flow: column;
  display: flex;
  height: 100%;
}

.source-link {
  font-size:$small-link-font-size;
}

.children-invisible {
  display: none;
}

.mat-tree div[role=group] > .mat-tree-node {
  padding-left: 40px;
}

.mat-tree-node {
  min-height: inherit;
}

.isGroupNode {
  display:flex;
  line-height: 40px;
  font-weight: bold;
}

.isPlantationNode.selected {
  color: blue;
}