<mat-form-field appearance="fill" [formGroup]="formGroup">
<mat-label>{{ label }}</mat-label>
<input matInput type="text" [formControlName]="controlName" [matAutocomplete]="auto"/>
<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" 
  [displayWith]="displayFn.bind(this)">
  <mat-option *ngIf="emptyText !== undefined" value="0" (onSelectionChange)="onSelectionChange($event)">{{ emptyText }}</mat-option>
  <mat-option *ngFor="let item of filteredList" [value]="item.GetKey()" (onSelectionChange)="onSelectionChange($event)">
    {{ item.GetTextValue() }}
  </mat-option>
  <mat-option *ngIf="newItemText" value="-1" (onSelectionChange)="onSelectionChange($event)">{{ newItemText }}</mat-option>
</mat-autocomplete>
<mat-error *ngIf="control.invalid && control.errors?.['required']">Champ obligatoire</mat-error>
</mat-form-field>
