@import "Apps/Permaguildes/src/app/styles/variables.scss";

#description {
  padding-top:$default-padding-top;
  white-space: pre-wrap;
}

mat-panel-description {
  margin-right: 0px;
}

mat-spinner {
  margin:0 auto;
}

.source-link {
  font-size:$small-link-font-size;
}
