<div (scroll)="onScroll($event)" style="height: 100%; overflow: auto;">
  <mat-list *ngIf="!this.plants" class="as-mat-expansion-panel">
    <mat-list-item *ngFor="let item of this.plantsNames$ | async"> 
      {{ item.value }}
    </mat-list-item>
  </mat-list>
  <mat-accordion *ngIf="this.plants">
      <mat-expansion-panel #panel [style.width.vw]="maxWidth"
                *ngFor="let plant of this.plants | slice:0:this.limit" 
                hideToggle [expanded]="this.plants.length === 1">
        <mat-expansion-panel-header appDrag [dragEnable]="dragEnable" [dragData]="plant" dragAlign="bottom" >
          <app-drag-preview *ngIf="dragEnable">
            <img [src]="getIconUrl(plant)">
          </app-drag-preview>
          <mat-panel-title *ngIf="plant.name"> {{plant.name}} </mat-panel-title>
          <mat-panel-title *ngIf="!plant.name"> {{plant.latinNames}} </mat-panel-title>
            <mat-panel-description>
              <div>
                <div *ngIf="!panel.expanded" fxHide.lt-sm>
                    {{plant.latinNames}}
                </div>
              </div>
              <app-properties-icons [plant]="plant"></app-properties-icons>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div appDrag [dragEnable]="dragEnable" [dragData]="plant" dragAlign="bottom" >
          <app-drag-preview *ngIf="dragEnable">
            <img [src]="getIconUrl(plant)">
          </app-drag-preview>
          <div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px" fxLayoutGap.xs="0">
              <div fxFlex="34%">{{labelsService.getStratumLabel(plant.codeStratum)}}</div>
              <div fxFlex="33%" class="right">{{labelsService.getFamilyLabel(plant.codeFamily)}}</div>
              <div fxFlex="33%" class="right">{{plant.latinNames}}</div>          
          </div>

          <div fxHide fxShow.gt-md>
            <div fxLayout>
              <div fxFlex="50%">Période de floraison: 
                <app-flowering-property [plant]="plant" [updateMode]="false"></app-flowering-property>
              </div>
              <div fxFlex="50%">Période de récolte: 
                <app-harvest-property [plant]="plant" [updateMode]="false"></app-harvest-property>
              </div>
            </div>
    
            <div fxLayout="row">
              <span fxFlex="50%" *ngIf="plant.auxiliariesAttractive">Attire la faune</span>
              <span fxFlex="50%" *ngIf="plant.pestRepellents">Répulsif à insects</span>
            </div>
          </div>

          <div id="description" fxLayout="row">
            <span fxFlex="100%">
              {{plant.description}}
            </span>
          </div>

          <div fxHide fxShow.gt-md style="text-align: center;">
            <span *ngIf="plant.codeSophy">
                <img 
                  [src]="sophyService.getUrlImageFromCode(plant.codeSophy)"
                  onerror="this.style.display='none'">
            </span>
            <br>
            <i class="source-link" *ngIf="plant.codeSophy">
              Image en provenance de 
              <a [href]="sophyService.getUrlFromCode(plant.codeSophy)" target="_blank">la base de données Sophy de Tela Botanica</a>
            </i>
          </div>
        </div>

        <mat-action-row>
          <button *ngIf="withDialogs" mat-button color="primary" (click)="openDetail(plant.code)">Détail</button>
          <button *ngIf="!withDialogs" mat-button color="primary" [routerLink]="['/nav/plant', plant.code]" routerLinkActive="active">Détail</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-spinner class="center" [diameter]="25" *ngIf="this.limit <= this.plants.length"></mat-spinner>
  </mat-accordion>
</div>